<div class="row">

  <div class="col-sm-12">
    <h3>Marina Crachi - FULL STACK DEVELOPER</h3>
    <br>
  </div>

  <div class="col-sm-9">
    <h4>EXPERIENCE</h4>

    <br>
    <strong>Interativa Events, São Paulo — Full Stack Developer</strong><br>
    <small>AUGUST 2017 - NOW</small><br><br>
    
    ● Creation of mobile applications for events (registration, sending photos by e-mail / SMS, check-in, synchronization with
    the server)<br>
    ● Creation of REST applications using NodeJS/MongoDB (database synchronization, RSS feed/social media search) and creation
    of the front-end using Angular (register screen, photo).<br>
    ● Screen synchronization using NodeJS and Socket.io<br><br>
    
    <strong>Freelancer, São Paulo</strong><br>
    <small>MAY 2017 - AUGUST 2017</small><br><br>

    ● Development of a gamified platform using Angular<br>
    ● Creation of mobile application for eSport Championship (Players queue, scores, classification)<br><br>

    <strong>IBM/BBMapfre, São Paulo — Oracle Application Developer</strong><br>
    <small>MARCH 2015 - APRIL 2017</small><br><br>
  
    ● Package/Procedures creation (PL/SQL) and testing<br>
    ● Frame creation using Java Swing<br>
    ● Frame/database integration using PL/SQL<br>
    ● Business rule analysis<br>
    ● Root cause analysis for appointment resolution<br>
    ● Technical rule analysis<br>
    <br>
    <br>
  </div>

  <div class="col-sm-3">
      <strong>SKILLS</strong><br>
      Oracle PL/SQL<br>
      HTML5<br>
      CSS3<br>
      Angular5<br>
      NodeJS<br>
      Javascript<br>
      Ionic3<br><br>

      <strong>LANGUAGES</strong><br>
      English (Advanced)<br>
  </div>
</div>