<p align="justify">Hi, and welcome! My name is Marina Crachi and I’m a brazilian developer based 
in São Paulo. If you are interested in my technical skills you can read my CV, but if you want to 
know more about Marina herself, you can stay here :) Well, where should I start...?</p>
<p align="justify">The first thing I think you should know is that I’m addicted to traveling - Hmm, I never met 
someone who don’t like to travel actually. I can’t say I traveled a lot because, you know… It can 
be quite expensive sometimes. Because of that, everytime I travel I try to make a good planning 
- my friends say that I have a monograph of each place I’ve been lol. Guess this makes me a 
good strategic planner?</p>
<p align="justify">Also, I’m a games lover - back when I was 5, my dream job was to be a game tester for 
Nintendo! I’m not saying that I’m a heavy-platinum-master-expert-gamer, but I really love 
everything that involves a game: The graphics, gameplay, level design, soundtracks (oh, I LOVE 
soundtracks)... By the way, I’m a Pump it Up player too, and I’ve been playing since 2003! PIU 
is a rhythm game, ​<a href="https://www.youtube.com/watch?v=2FPrco9fxIo">you can see me playing in this video​ :D</a></p> 
<p align="justify">Last but not least, I love to cook (and eat, of course)! I really enjoy all the process of studying, 
buying and making food ❤ But I’m not gonna lie, I love restaurants too :p</p>
 
<strong>More facts about me?</strong><br>
- Favorite animes: One Piece and Hunter x Hunter<br>
- Favorite games: Mario 64, Pokémon Silver, The Legend of Zelda - Twilight Princess & Breath of the Wild<br>
- Favorite band: Red Hot Chili Peppers<br> 
- Favorite color: Turquoise <br>
- Favorite meme: <a href="https://knowyourmeme.com/memes/drew-scanlon-reaction">Drew Scanlon reaction</a><br>
- Bad at: Drawing, playing instruments, <a href="https://www.youtube.com/watch?v=qW5UrEgw4pw">gardening</a><br>